<div class="input-select-tree-content">

    <input class="form-select" readonly>
    <div class="drop-down-container">
        <div class="header-tree">
            <div class="searcher-tree">
                <input type="text" class="form-control" placeholder="Buscar">
            </div>
            <label class="title-tree">
                Todos
            </label>
        </div>
        <div class="body-tree">
            <ul>
                <li>
                    Texto 
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
        </div>
    </div>
</div>