<master-content placeholder="header" class="page-title">
    ¡Bienvenidos!
</master-content>
<master-content placeholder="main">
    <p>IPS Salud y Vida ofrece atención domiciliaria y ambulatoria a los afiliados de EPS SURA, ARL SURA
        y Seguros SURA. Este servicio también está disponible para pacientes particulares.</p>
        <br>
    <p>Contamos con el respaldo de Suramericana, una compañía de gran trayectoría y reconocimiento en el sector
        asegurador.</p>
        <br>
    <p>Ofrecemos Servicios Domiciliarios que le brindan al paciente la atención en salud que necesita desde la
        comodidad de su hogar y con el apoyo de sus seres queridos.</p>
        <br>
    <p>Médicos Generales y Especialistas, Equipo de Enfermería y Terapeutas, y otro personal de salud y apoyo para
        prestar nuestros servicios y brindar el mejor acompañamiento a los usuarios.</p>
</master-content>